
.container {
    margin-top: 40px !important;
}

.card {
    
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.469);
    border-radius: 10px;
    transition: transform .3s;
}

.icons {
    color: rgb(241, 182, 20) !important;
   padding: 3px !important;
   
}

.comprautton:hover{
    
    box-shadow: 2px 4px 8px rgb(35, 35, 35) ;

}
.card:hover {
    transform: translateY(-15px);
    transition: transform .3s;
}





/* ========configuração generais */

.shoe:hover,
.watch:hover,
.watch:hover {
    opacity: .8;
}

.cursor {
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}