*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  
  font-family: url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"); ;
    background: #F3904F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffffff, #fcddc6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffffff, #fcddc6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  
}


.Navbar {
  background-color: black !important;
}

.Navbar .Navbarbrand {
  color: white;
}

.Navbar .Navbarbrand:hover {
  color: white;
}

.Navbar .Nav {
  color: white !important;
}

.Navbar .Link {
  color: white !important;
}

.dropdown-toggle {
  color: white !important;
}

/* estilo del carro de compra */
.carrocompra{
  margin: 8px;
  transition: all 3000ms;
}

.carrocompra:hover{
  color: #000;
 background-color: rgb(243, 240, 199) !important;

}

.App {
  font-family: sans-serif;
  text-align: center;
}

.carousel-control-prev-icon {
  color: black !important;
}

.cont1 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

